.btn-input-group-bottom {
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 0.8rem;
}

.btn-input-group-bottom:focus {
    box-shadow: unset;
}

.form-group-control~.invalid-feedback,
.form-group-control~.invalid-tooltip {
    display: block;
}

.form-group-control~.valid-feedback,
.form-group-control~.valid-tooltip {
    display: block;
}