.product_count input {
    width: 76px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 10px;
    height: 34px;
}

.product_count .increase {
    margin-top: 12px;
}

button.reduced.items-count {
    margin-bottom: 8px;
}