.filterBox .delivery{
grid-column: 2/3;
grid-row:2/3;
font-size:large;
padding-top:15px;
text-align:center;
}
.filterBox .complete{
    grid-column: 4/5;
    grid-row:2/3;
    font-size:large;
    padding-top:15px;
    text-align:center;

}
.filterBox .refund{
    grid-column: 6/7;
    grid-row:2/3;
    font-size:large;
    padding-top:15px;
    text-align:center;

}

.filterBox strong{
    color:#5f5f5f;
}


.number{
    color:#5f5f5f;
    font-size:xx-large;
    font-weight:900;
    text-align: center;
}

.number.del{
    grid-column: 2/3;
    grid-row:3/4;

}
.number.com{
    grid-column: 4/5;
    grid-row:3/4;
}
.number.ref{
    grid-column: 6/7;
    grid-row:3/4;
}

.filterBox{
    border: 1px dotted #ddd;
    padding : 10px;
    padding-left:30px;
    margin-right: 0px;
    margin-bottom:30px;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-rows: 20px 40px auto 30px 30px;
    grid-gap:1px;
}

.statusNow.del{
    grid-column:1/2;
    grid-row:2/4;
    width: 100%;
    border-radius:90px;

}

.statusNow.com{
    grid-column:3/4;
    grid-row:2/4;
    width: 100%;
    border-radius:90px;

}

.statusNow.ref{
    grid-column:5/6;
    grid-row:2/4;
    width: 100%;
    border-radius:90px;

}

.orderList{
    border-width: 1px 1px 0px 1px;
    border-color: #ddd #ddd #ddd #ddd;
    border-style: dotted dotted none dotted;
}

.orderList .goods_by_order{
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
    border-bottom-style: dotted;
}

.orderList .goods_item{
    width:100%;
    height:120px;
    margin-top:10px;
    margin-bottom:10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr auto;
    grid-template-rows: 30px 15px 15px 60px;
    grid-gap: 1px;
}

.goods_totalPrice{
    padding-top:8px;
    padding-right:40px;
    font-size:large;
    float: right;
    text-align:right;
    grid-column:3/4;
    grid-row:1/3;
}


.orderList .goods_item .goods_thumbs{
    grid-column: 1/2;
    grid-row:1/5;
    padding-left:10px;
}

.orderList .goods_item .goods_name{
    padding-top:8px;
    padding-left:5px;
    font-size: 1.25rem;
    font-weight: bold;
    grid-column:2/3;
    grid-row:1/2;
}
.orderList .goods_item .goods_date{
    font-size:small;
    padding-left:5px;
    grid-column:2/3;
    grid-row:2/3;
}

.orderList .goods_item .goods_info .goods_botton .goods_botton_status{
    border-style:1px solid rgb(112, 112, 112);
}    

.orderList .goods_item .goods_status .goods_info_price{
    font-size:medium;
}

.orderList .goods_item .goods_comment{
    color:rgb(112, 112, 112);
    padding-top:20px;
    padding-left:5px;
    padding-right:30px;
    grid-column:2/4;
    grid-row : 3/5;
}



.orderList .goods_item .goods_botton{
    padding-top:8px;
    grid-column:4/5;
    grid-row : 1/5;
    border-left-style: 1px dotted #ddd;
}

.img-fluid.order{
    border-radius:90px;
}

.col-sm-12.empty-cart-cls.text-center.submenu{
    padding-top:30px;
}

.orderList .ta-btn-sm {
    padding: 0.25rem 0.5rem;
    margin-top:15px;
    margin-left: auto;
    font-weight: 500;
}