.btn-brown {
    background-color: #866e6c;
    color: #fff;
    padding: 0.7rem;
}

.form-group-control~.invalid-feedback,
.form-group-control~.invalid-tooltip {
    display: block;
}

.form-group-control~.valid-feedback,
.form-group-control~.valid-tooltip {
    display: block;
}