.box-head {
    padding-bottom: 30px;
}

.box-title a {
    cursor: pointer;
}

.box-content {
    margin-top: 20px;
}

.box-content h6 {
    color: #000;
    font-weight: bold;
}

.box-content span {
    color: #777;
}

.box-content .row {
    padding: 20px 0;
}

.dashboard .box .box-title {
    display: flex;
}

.dashboard .box .box-title > a {
    position: unset;
    margin-left: auto;
}

.box-editing .box-title a {
    display: none;
}

.ta-btn-group {
    margin-top: 30px;
}

.btn-full {
    width: 100%;
}

.ta-info-modify-action {
    padding-left: 20px;
    color: #866e6c!important;
    cursor: pointer;
}