.shippingBox{
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    padding: 40px;
}

.shippingBox h3{
    margin-bottom:1rem;
}


.shippingBox table{
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
    width:95%;
    
}

.shippingBox table tbody tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.shippingBox table tbody tr td:first-child{
    margin-right: 15px;
    width: 25%;
}

#consigee, #address, #addressDetail, #member{
    height: 30px;
    width: 100%;
    background-color: #F9F9F9;
    border:1px dashed #c7c7c7;
}

#consigneePhone, #memberPhone{
    background-color: #F9F9F9;
    height: 30px;
    border:1px dashed #c7c7c7;
    width: 32%;
    margin-right:2px;
}

#postalNumber{
    background-color: #F9F9F9;
    height: 30px;
    border:1px dashed #c7c7c7;
    width: 100%;
}

.secondTd{
    width:75%;
    margin-bottom:1rem;
}

.selectAddressBox{
    margin-bottom:5px;
}

.shippingBox span{
    margin-right:25px;
}

.shippingBox .ta-btn-sm{
    padding: 0.25rem 0.5rem;
    margin-left: auto;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 12px;


}


.shippingBox .ta-btn-sm.cl{
   margin-left: 10px;
}

.shippingBox .modal-dialog .modal-content{
    width:130%;
}

.shippingBox .modal-dialog.modal-dialog-scrollable{
    margin-right:auto;
    margin-left:auto;
    margin-top:15%;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
