.logo { width: 150px }
.nav-shop > li:last-child {
    margin-left: auto;
}
.nav-user-info {
    margin-left: 40px;
}
.nav-user-info > li {
    display: inline-block;
    margin-right: 15px;
}
.nav-user-info > li:last-child {
    margin-right: 0;
}