.product-right h2  {
    margin-top: 20px;
}

.product-right .product-title {
    margin-bottom: 5px;
}


.product-right .border-product{
    margin-bottom: 1px;
}


.product-right .product-buttons {
    margin-top: 20px;
}